
@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherCourseViewModel
@{
    ViewBag.Title = "Course";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Course</h2>
    <div>
        <table class="courseTable">
            <caption>>nafn áfangans <!--kann ekki að láta það breytast þar sem maður notar ekki foreach lykkju--></caption>
            <thead>
                <tr>
                    <th>Visability</th>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Deadline</th>
                    <th>Graded</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                <!--foreach (var project in Model.courseProjects) {
                    foreach(var course in Model.course) {-->
                        <tr>
                             <!--<td>project.Visability</td>
                             <td>course.Name</td>
                             <td>project.Name</td>
                             <td>project.Deadline</td>
                             <td>project.Graded</td>-->
                             <td><!--veit ekki hvernig ég á að ná í groups þarf ég að gera nýtt thing í courseVieweModel--></td>
                         </tr>
                    }

                }
               
            </tbody>
         </table>
    </div>
