@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherGradeStudentViewModel
@{
    ViewBag.Title = "Graded";
}

<h2>@Model.currentProject.Name</h2>

@Model.currentStudent.FullName
@Model.currentProject.Grade.ToString()