@using System.Activities.Statements
@using Microsoft.Ajax.Utilities
@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherIndexViewmodel
@{
    ViewBag.Title = "Index";
}


<h2>Teacher View</h2>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
             <caption>Ungraded Assignments</caption>
             <thead>
                     <tr>
                         <th>Course</th>
                         <th>Assignment</th>
                         <th>Deadline</th>
                         <th>Group</th>
                     </tr>
             </thead>
             <tbody>
                   @foreach (var course in Model.coursesForProjects) {
                        foreach (var project in Model.ungradedProjects) {
                        <tr>
                            <td>@Html.ActionLink(project.CourseID, "Course", new { id = course.ID })</td>
                            <td>@Html.ActionLink(project.Name, "ProjectDetails", new { id = project.ID} )</td>
                            <td>@project.Deadline</td>
                            <td></td>
                        </tr>
                       }
                  }
             </tbody>
        </table>
    </div>

    <div class="col-md-4">
          <h8>Courses</h8>
           <ul>
           @foreach (var course in Model.coursesForTeacher) {
               <li>@Html.ActionLink(course.Name, "Course", new { id = course.ID })</li>
           }
         </ul>
    </div>
</div>