@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherSubmissionsViewmodel

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>

<table class="table table-bordered table-striped">
    <caption class="left">Submissions for @Model.currentSubproject.Name</caption>
    <thead>
    <tr>
        <th>Submission number</th>
        <th>Name</th>
        <th>Date</th>   
        <th>Accepted</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var students in Model.studentsThatHaveSubmitted)
        {
                <tr>
                    <td>submission.SubmissionNr</td>
                    <td>@Html.ActionLink(students.FullName, "SubmissionDetails")</td>
                    <td>submission.Date</td>
                    <td>
                        if (submission.Accepted == true)
                        {
                            @Html.ActionLink("Accepted", "Graded")
                        }
                        if (submission.Accepted == false)
                        {
                            @Html.ActionLink("Wrong Answer", "Graded")
                        }
                    </td>
                    <td>submission.Grade</td>
                </tr>
            
        }
    </tbody>
</table>
