@font-face {
    font-family: 'keepcalm-medium';
    src: url('../fonts/keepcalm-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'mochary_personal_use_only';
    src: url('../fonts/mochary_personal_use_only.ttf') format('truetype');
}

body {
    padding-top: 120px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*         LAYOUT          */
#main-header {
    color: #753bbd;
    font-family: 'mochary_personal_use_only';
    font-size: 120px;
}

.AdminButtons {
    color: white;
    background-color: #753bbd;
    border-color: black;  
}

.AdminButtons:hover {
    background-color: purple;
}
    
#buttons {
    float: left; 
}

#Mooshark {
    font-family: keepcalm-medium;
    font-size: 40px;

}

.navbar-main img {
    vertical-align: text-top;
    height: 70px;
    width: 70px;
}

.navbar {
    border-bottom: 6px solid #753bbd;
}

#Adminbutt {
    margin: 4px;
    padding: 4px;
}

.top-buffer {
     margin-top:80px;
}

@media screen and (min-width: 768px) .modal-dialog {
    left: 0%;
}

div.modal-dialog {
    position: initial;
}

.table-scoll {
    overflow: auto;
    height: 400px !important;
}



/*      Student's CSS     */

#teacher-list {
    font-size: 20px;
    margin-left: -40px;
}





/*      Teacher's CSS     */

#deadline {
    padding-left: 14px;
}





/*     SEARCH BOX CSS      */

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

