@font-face {
    font-family: 'keepcalm-medium';
    src: url('../fonts/keepcalm-medium.ttf') format('truetype');
}

body {
    padding-top: 120px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {

}

.AdminButtons {
    color: white;
    background-color: #753bbd;
    border-color: black;  
}

.AdminButtons:hover {
    background-color: purple;
}
    
#buttons {
    float: left; 
}

#Mooshark {
    font-family: keepcalm-medium;
    font-size: 40px;

}

.navbar-main img {
    vertical-align: text-top;
    height: 70px;
    width: 70px;
}

/*
div.col-sm-5.sidenav {
    width: 82%;
    float: right;
}

label.col-md-2.control-label {
    text-align: right;
}

div.col-md-10 {
    width: 83.33333333333334%;
}

table#studentTable.table.table-bordered.table-striped {
    height: 200px;
    overflow: auto;
}
*/

.navbar {
    border-bottom: 6px solid #753bbd;
}
