
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Admin View</h2>
<div class="row">
    <div id="buttons">
        <div>
            @Html.ActionLink("CreateCourse", "createCourse", "Admin", null, new { @class = "AdminButtons" })

        </div>
            </br>
            </br>
            </br>
        <div>
            @Html.ActionLink("Create User", "createUser", "Admin", null, new { @class = "AdminButtons" })
        </div>
        </br>
        </br>
        </br>
        <div>
            @Html.ActionLink("Edit", "edit", "Admin", null, new { @class = "AdminButtons", @id = "edit" })
        </div>
    </div>

    <div id="list">
        
    </div>
</div>