@model IEnumerable<Mooshark2.Models.Entities.Course>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet"/>

<h2>Main Page - Admin</h2>
<div class="row">
    <div >
        <div>
            @Html.ActionLink("Create course", "CreateCourse", "Admin", null, new { @class = "btn btn-primary btn-lg AdminButtons" })
        </div>

        <div>
             @Html.ActionLink("Create user", "register", "Account", null, new { @class = "btn btn-primary btn-lg AdminButtons" })
        </div>

        <div>
             @Html.ActionLink("Edit", "Edit", "Admin", null, new { @class = "btn btn-default btn-lg" })
        </div>

    </div>

    <div id="list">

    </div>
</div>