@using WebGrease.Css.Extensions
@model IEnumerable<Mooshark2.Models.DAL.ApplicationUser>

@{
    ViewBag.Title = "UserEditList";
}

<h2>All Users</h2>


<!--<input type="text" id="search" placeholder="Type to search..."/>-->
    <div class="col-xs-6">
        <div class="right-inner-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input id="search" type="search"
                   class="form-control" 
                   placeholder="Search" />
        </div>
    </div>
    <table class="table table-bordered table-striped" id="table">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>SSN</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <a href="/Admin/EditUser/@user.Id"><img alt="Edit" src="@Url.Content("~/Images/edit.png")" width="20" height="20"/></a>
                        @user.FullName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.SSN
                    </td>
                </tr>
            }

        </tbody>
    </table>

