@using System.Activities.Statements
@using Microsoft.Ajax.Utilities
@model Mooshark2.Models.ViewModels.StudentViewModels.StudentIndexViewModel
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div id="studentUpcomingProjectsTable" class="col-md-8">
        <table class="table table-bordered table-striped">
            <caption>Upcoming projects</caption>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Deadline</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var project in Model.upcomingProjects) { 
                    <tr>
                        <td>@Model.coursesForProjects.FirstOrDefault(p => p.ID == project.CourseID).Name</td>
                        <td>@Html.ActionLink(project.Name, "Details", new { id = project.ID })</td>
                        <td>@project.Deadline</td>
                        <td><!--project.isGroupProject--></td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>

    <div id="studentCourseList" class="col-md-4">
        <h3>Courses</h3>
        <ul>
            @foreach(var course in Model.coursesForStudents) {
                <li>@Html.ActionLink(course.Name, "Course", new { id = course.ID })</li>
            }
        </ul>
    </div>
</div>

<div id="StudentPepp">
    <p>Welcome to MOOSHARK<br/>
        May the odds be ever in you favour<br/>
        If you need some extra motivation:<br/>
    <a href="https://www.youtube.com/watch?v=qR3rK0kZFkg">#PEPP</a></p>
</div>