@model Mooshark2.Models.ViewModels.StudentViewModels.StudentIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Welcome to student's main page</h2>
    <p>Submit projects and get graded!</p>
</div>

<!--   SEARCH INPUT BOX FOR TABLE   -->
<div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3">
        <div class="inner-addon right-addon pull-right">
            <i class="glyphicon glyphicon-search"></i>
            <input id="search" type="search"
                   class="form-control"
                   placeholder="Search"/>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<!--   TABLE OF UPCOMING PROJECTS    -->
<div class="row">
    <div class="col-md-8 ">
        <h4>Upcoming Projects</h4>
        <div class="table-scoll">
            <table class="table table-bordered table-striped " id="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Assignment</th>
                        <th>Deadline</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var project in Model.upcomingProjects)
                    {
                        <tr>
                            <td>@Model.coursesForProjects.FirstOrDefault(p => p.ID == project.CourseID).Name</td>
                            <td>@Html.ActionLink(project.Name, "ProjectDetails", new { id = project.ID })</td>
                            <td>@project.Deadline</td>
                            <td><!--project.isGroupProject--></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="studentCourseList" class="col-md-4">
        <h4>My courses</h4>
        <div class="list-group">
            @foreach(var course in Model.coursesForStudents) {
                <a class="list-group-item" href="/Student/Course/@course.ID">@course.Name</a>
            }
        </div>
    </div>

    <div id="StudentPepp" class="row mooshark-pepp pull-right top-buffer">
        <p>
            Welcome to MOOSHARK<br />
            May the odds be ever in you favour<br />
            If you need some extra motivation:<br />
            <a href="https://www.youtube.com/watch?v=qR3rK0kZFkg">#PEPP</a>
        </p>
    </div>
</div>
