@model Mooshark2.Models.Entities.Subproject


@using (Html.BeginForm("Submit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--Html.EditorFor(m => m)-->
    @Html.HiddenFor(x => x.ID)
    <input type="file" name="file" /><br />

    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

@*
<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    @*Html.ActionLink("Submit", "Submit", new { id = Model.ID })
    <input type="submit" />
</form>
*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
