@{
    ViewBag.Title = "Home Page";
}

<div>
<div class="jumbotron">
    <h1>Welcome to Mooshark</h1>
    <p class="lead">Mooshark is a system for students to be able to submit programming projects and receiving instant feedback.</p>
    <p class="lead">Teachers can use the system to </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="col-md-8"></div>
<div class="col-md-4">
    <div id="StudentPepp">
        <p>
            Welcome to MOOSHARK<br />
            May the odds be ever in you favour<br />
            If you need some extra motivation:<br />
            <a href="https://www.youtube.com/watch?v=qR3rK0kZFkg">#PEPP</a>
        </p>
    </div>
</div>
</div>